$Yellow: hsl(47, 88%, 63%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 50%);
$Black: hsl(0, 0%, 7%);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $Yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .card {
    position: relative;
    width: 380px;
    height: 527px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: $White;
    border-radius: 20px;
    border: 1px solid black;
    .text {
      font-family: "Figtree", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }
    .design {
      border-radius: 10px;
    }
    .content {
      display: flex;
      flex-direction: column;
      width: 335px;
      height: 180px;
      .sort {
        margin-bottom: 1rem;
        width: 80px;
        height: 30px;
        line-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $Yellow;
        border-radius: 5px;
        font-weight: 800;
        font-size: 14px;
      }
      .time {
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 14px;
      }
      .title {
        margin-bottom: 1rem;
        a {
          text-decoration: none;
          color: $Black;
          font-weight: 800;
          font-size: 24px;
          &:hover {
            color: $Yellow;
          }
        }
      }
      .describe {
        color: $Grey;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
      }
    }

    .author {
      margin-top: 0.5rem;
      width: 330px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .portrait {
        width: 30px;
        margin-right: 1rem;
      }
      .name {
        font-weight: 800;
        font-size: 14px;
      }
    }
  }
  .background {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 382px;
    height: 530px;
    background-color: $Black;
    border-radius: 20px;
    z-index: -10;
  }

  .attribution {
    position: absolute;
    top: 15px;
  }
}
